<div class="reset-password-form" ng-if="vm.tokenType === 'active'">
  <div class="form-header">
    <div class="logo"></div>
    <p class="title bg-title">Reset Password</p>
    <p class="title md-title">You can now reset the password to spDirect account.</p>
  </div>
  <div class="form-body">
    <form  name="form" ng-submit="vm.submit(form)" novalidate >
      <div class="form-group" ng-class="{'has-error': form.$submitted && form.password.$invalid}">
        <input class="form-control custom-input" type="password" id="password" name="password" placeholder="Password"
               ng-required="true" ng-minlength="6" ng-model="vm.obj.password"
        >
        <p class="help-block" ng-if="form.$submitted && form.password.$error.required">Password is required</p>
        <p class="help-block" ng-if="form.$submitted && form.password.$error.minlength">Password is at least 6 chars</p>
      </div>
      <div class="form-group" ng-class="{'has-error': form.$submitted && form.confirmPassword.$invalid}">
        <input class="form-control custom-input" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
               ng-model="vm.obj.confirmPassword" match="vm.obj.password"
        >
        <p class="help-block" ng-if="form.$submitted && form.confirmPassword.$error.match">Confirm password dose not match</p>

      </div>
      <div class="form-group">
        <button id="submit" type="submit" class="btn btn-primary-custom">RESET</button>
      </div>
    </form>
  </div>
</div>

<div class="reset-password-form" ng-if="vm.tokenType === 'expired'">
  <div class="form-header">
    <div class="logo"></div>
    <p class="title bg-title">The link is expired</p>
    <p class="title md-title" style="margin-bottom: 10px">The link you received via email is expired, or you may already have used it.</p>
    <p class="title md-title">To reset your password, click the button below</p>
  </div>
  <div class="form-body">
    <form  name="form" ng-submit="vm.submit(form)" novalidate >
      <div class="form-group">
        <a ui-sref="forgotPassword" id="submit" type="submit" class="btn btn-primary-custom">FORGOT PASSWORD</a>
      </div>
    </form>
  </div>
  <div class="form-footer">
    <a ui-sref="signIn">LOGIN</a>
  </div>

</div>

