.sign-up-form {
  text-align: center;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;

  .form-body {
    input.custom-input {

      &#password {
        margin-top: 30px;
      }
    }
  }
}

@media (max-device-width : 320px) {
  .sign-up-form {
    top: 60%;
    width: 280px;
  }
}

@media (max-device-width : 667px) {
  .sign-up-form {
    top: 90%;
  }
}

@media (max-device-width : 568px) {
  .sign-up-form {
    top: 105%;
  }
}
