
<div class="modal-body">
  <p>
     An email with a link has been sent to <email@gmail.com>.Please click the link to verify your email address and activate your account.
  </p>
  <p>
    Can't find the email? Check your spam folder. If you have problem with the email, please contact our <b>Customer Support</b> at <b>(424) 333-0709</b> or via email <b>chius.siliconprime@gmail.com</b>
  </p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">CANCEL</button>
  <button type="submit" class="btn btn-primary-custom" >RESEND EMAIL</button>
</div>

