.forgot-password-success-modal {
  .modal-dialog {
    top: 30%;

    .modal-content {
      border-radius: 15px;

      .modal-body {
        padding: 20px 30px 0;

        p {
          text-align: center
        }
      }

      .modal-footer {
        border-top: none;
        text-align: center;
      }
    }
  }
}
