.sign-in-form {
  text-align: center;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;

  .form-body {
    input.custom-input {
      width: 320px;
      margin: 0 auto;
    }

    .checkbox {
      text-align: left;
      margin-left: 68px;
      color: #D2D2D3;
    }
  }
}

@media (max-device-width : 320px) {
  .sign-in-form {
    top: 60%;
    width: 280px;
  }
}

@media (max-device-width : 667px) {
  .sign-in-form {
    top: 90%;
  }
}

@media (max-device-width : 568px) {
  .sign-in-form {
    top: 105%;
  }
}
