.forgot-password-form {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;

  .form-body {
    input.custom-input {
      width: 75%;
      margin: 0 auto;
    }

    .help-block {
      margin-left: 50px;
    }

    .checkbox {
      text-align: left;
      margin-left: 70px;
      color: #D2D2D3;
    }
  }
}
